<!DOCTYPE html>
<html>
<head>
<title>jelly blog</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1546617055&di=519dff8b3839b21657c567ab896fcce6&imgtype=jpg&er=1&src=http%3A%2F%2Fn.sinaimg.cn%2Fsinacn%2Fw1920h1080%2F20171231%2F278e-fyqefvw5364347.jpg">
<h1>
<a href="{% url 'blog:edit_page' 0 %}">新文章</a>
</h1>




<h1>Welcome to jelly blog!</h1>
{% for article in articles %}
    <a href="{% url 'blog:article_page' article.id %}">{{ article.title }}</a>
    <br/>
{% endfor %}
<p>If you see this page,indicates that the webmaster is building this website.</p>

<p>Below is the project github URL</p>
<a href="https://github.com/guodongggg/web" target="_blank">https://github.com/guodongggg/web</a><br/>
if you wang to use free storage space,call me guodongggg@gmail.com
<p><em>good day!</em></p>

</body>
</html>
